{% extends 'assistant_register/base.html' %}


{% load bootstrap4 %}

{% block page_header %}
    <h2>Doctor: {{ doctor }}</h2>
{% endblock page_header %}


{% block content %}

    {% if doctor.photo %}
        <p><img src="{{ doctor.photo.url }}" class="img-fluid rounded float-start"
                width="200" height="200"></p>
    {% endif %}
    <h3>Days:</h3>

    <ul>
        {% for week in lst_days %}
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                {% for day in week %}
                    {% if day.flag == None %}
                        <h3><a class="btn btn-primary btn-xl"
                               href="{% url 'assistant_register:entry_day' doctor.id day.date %}"
                               role="button">{{ day.date }}</a></h3>
                    {% elif day.flag == 0 %}
                        <h3><a class="btn btn-secondary btn-xl"
                               href="{% url 'assistant_register:entry_day' doctor.id day.date %}"
                               role="button">{{ day.date }}</a></h3>
                    {% elif day.flag == -1 %}
                        <h3><a class="btn btn-lg btn-warning btn-xl"
                               role="button">{{ day.date }}</a></h3>
                    {% endif %}
            {% endfor %}
            </div>
        {% empty %}
            <li>There are no entries for this topic yet.</li>
        {% endfor %}
    </ul>

{% endblock content %}

