{% extends 'assistant_register/base.html' %}


{% block content %}

    <p>Doctor: {{ doctor }}</p>
    {% if doctor.photo %}
        <p><img src="{{ doctor.photo.url }}"
            width="200" height="200"></p>
    {% endif %}
    <p>Entries:</p>

    <ul>
        {% for week in lst_days %}
            {% for day in week %}
                <li>
                    <a href="{% url 'assistant_register:entry_day' doctor.id day.date %}">{{ day.date }}</a>
                    <p>{{ day.date_added|date:'M d, Y H:i' }}</p>
                    <p>{{ day.date_time }}</p>
                    <p>{{ day.price }}</p>
                    <p>{{ day.date }}</p>
                    <p>{{ day.flag }}</p>
                </li>
            {% endfor %}
        {% empty %}
            <li>There are no entries for this topic yet.</li>
        {% endfor %}
    </ul>

{% endblock content %}