{% extends 'assistant_register/base.html' %}


{% block content %}

<p>Doctor: {{ doctor }}</p>
<p>Entries:</p>
<p>
    <a href="{% url 'assistant_register:new_entry' doctor.id %}">add new entry</a>
</p>

<ul>
    {% for entry in entries %}
        <li>
            <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ entry.date_time }}</p>
            <p>{{ entry.price }}</p>
        </li>
    {% empty %}
        <li>There are no entries for this topic yet.</li>
    {% endfor %}
</ul>

{% endblock content %}